<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Artistas <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/pintor1">Rembrandt  |</a>
      <a class="nav-item nav-link" href="/pintor2">Raffaello  |</a>
      <a class="nav-item nav-link" href="/pintor3">John Singer  |</a>
      <a class="nav-item nav-link" href="/pintor4">Juan Gris</a>
     
    </div>
  </div>
</nav>