{{> header}}
{{> navbar}}
    <main id="index">
    <p id="titulo">Pintores Favoritos</p>

    <div id="div1">
    <img id="tama単oImg" src="images/rembrandt.jpg" title="Rembrandt Harmenszoon van Rijn">
    <p id="text2">Rembrandt Harmenszoon van Rijn</p>

    <img id="tama単oImg" src="images/rafaello.jpg" title="Raffaello Sanzio">
    <p id="text">Raffaello Sanzio</p>
    </div>

    <div id="div2">
    <img id="tama単oImg" src="images/johnSinger.jpg" title="John Singer Sargent">
    <p id="text2">John Singer Sargent</p>

    <img id="tama単oImg" src="images/juanGris.jpg" title="Juan Gris">
    <p id="text">Juan Gris</p>
    </div>
    </main>
{{> footer}}