{{> header}}
{{> navbar}}
    
    <p id="tituloPin">{{title}}</p>
    <p id="Bio">Biografia</p>
    <p id="contenidoBio">John Singer Sargent fue un pintor estadounidense, considerado el "retratista de más éxito de su generación".​​ 
        Durante su carrera, realizó cerca de 900 pinturas al óleo y más de 2.000 acuarelas, así como innumerables bocetos 
        y dibujos al carboncillo. Su obra documenta sus viajes a lo largo del mundo, desde Venecia al Tirol, Corfú, 
        Oriente Próximo, Montana, Maine y Florida. Sus padres eran estadounidenses, pero él se formó en París antes de 
        trasladarse a Londres. Sargent disfrutó del aplauso internacional como retratista, aunque no sin cierta 
        controversia y alguna reserva crítica. Desde el principio, su trabajo se caracterizó por una destacable habilidad 
        técnica, particularmente su facilidad para el dibujo con el pincel, que en años posteriores generó tanto 
        admiración como críticas por una supuesta superficialidad. Sus retratos de encargo se enmarcaban dentro de un 
        estilo clasicista, mientras que sus estudios informales y bocetos mostraban una cierta cercanía con el 
        impresionismo. En los últimos años de su vida, Sargent se expresó ambivalente en relación con las restricciones 
        formales del retrato, dedicando gran parte de su esfuerzo a la pintura mural y al aire libre.</p>

    <p id="Bio">Pinturas Favoritos</p>

    <div id="div1pin">
    <img src="images/p3c1.jpg" id="p3c1">
    <p id="contenidoPin">Madame Gautreau Drinking a Toast<br>
        John Singer Sargent<br>
        1882 - 1883</p>

    <img src="images/p3c2.jpg" id="p3c2">
    <p id="contenidoPin">Mrs. Cecil Wade<br>
        John Singer Sargent<br>
        1886</p>

    <img src="images/p3c4.jpg" id="p3c4">
    <p id="contenidoPin">Rio di Santa Maria Formosa, Venice<br>
        John Singer Sargent <br>
        1905</p>

    </div>

    <div id="div2pin">
    <img src="images/p3c3.jpg" id="p3c3">
    <p id="contenidoPin">Charles Stewart, Sixth Marquess of Londonderry, 
        <br>Carrying the Great Sword of State at <br>the Coronation 
        of King Edward VII, August, <br>1902, and Mr. W. C. 
        Beaumont, His Page <br>on That Occasion<br>
        John Singer Sargent<br> 
        1904</p>
    
    <img src="images/p3c5.jpg" id="p3c5">
    <p id="contenidoPin">Portrait of Daisy Leiter, Kenwood House<br>
        John Singer Sargent<br>
        1898</p>

    </div>
{{> footer}}